* {
	/*padding: 0;
	margin: 0;
	box-sizing: border-box;*/
	font-family: 
		"HelveticaNeue-Light", 
		"Helvetica Neue Light", 
		"Helvetica Neue", 
		Helvetica, 
		Arial, 
		"Lucida Grande", 
		sans-serif !important; 
}

html {
	scroll-behavior: smooth;
}

/**:hover {
	border: 1px solid red;
}
*/
nav {
	border-bottom: 3px solid black;
}

.nav-item.active a {
	border-bottom: 3px solid black;
}

#main {
	margin-top: 71px;
	z-index: 0;
}

#sidebar {
	height: calc(100vh - 85px);
	margin-top: 71px;
	z-index: 0;
}

#sidebar-flow {
	height: calc(100vh - 85px);
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}

a.text-collapse-tab {
	font-size: 16px;
	font-weight: bolder;
	text-decoration: none;
}

#test-link-bolder {
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
}

#sidebar-mobile-btn {
	cursor: pointer;
}

.nav-item {

}

.no-bullets {
	list-style: none;
}

.border-left-black {
	border-left: 3px solid black;
}

.border-left-white {
	border-left: 3px solid white;
}

#page-content {
	flex: none;
}

.dashboard.embed-responsive {
	height: 100vh;
}

#cet-q1, 
#cet-q2,
#cet-q3,
#cet-q4, 
#cet-q5,
#cet-q6,
#cet-q7, 
#cet-q8,
#cet-q9,
#pum,
#pui,
#npp {
	display: none;
}